{{!-- 用 POST 方法，把資料送給 /todos 位置 --}}
<form action="/todos" method="POST" style="display: inline;"></form>


  <div class="input-group">
    <input class="form-control" type="text" placeholder="name" name="name">{{!-- 這個 name 屬性很重要，它是 HTTP 傳輸時的資料名稱。這些資料會被放在 HTTP 的 request body 裡，進到 Express.js 以後打包成 req.body 物件。因為這裡有設定 name="name"，後面我們可以用 req.body.name 拿出這個輸入框的 value。 --}}
<!-- ./views/new.handlebars -->
    <button class="btn btn-success" type="submit">Create</button>
  </div>
</form>